link(rel="stylesheet" type="text/css" href="/static/css/navbar.css")
div.navbar
  div.navbar__left(onclick="window.location.href='/product/home'") 
    h1 Shop
  div.navbar__right
    button(onclick="window.location.href='/cart'") Cart
    button(onclick="window.location.href='/order'") Orders
    button(onclick="window.location.href='/logout'") Logout