extends layout.pug

block layout-content
  script.
          message = "#{message}";
          if(message){alert(message)}
  div.homepage
    div#ProductList
      link(rel="stylesheet" text="text/css" href="../static/css/index.css")
      
      each product in products
        include ../components/product_tile.pug
      


