doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width",initial-scale=1,shrink-to-fit="no")
    title #{title}
    link(rel="stylesheet" type="text/css" href="/static/css/index.css")
  body
    script.
          message = "#{message}";
          if(message){alert(message)}
    div#root
      .login__panel
        div.login__tile
          form(action="/user/register" method="post")
            p.title Register form
            p: input(type="text" placeholder="Username" name="name" id="name")
            p: input(type="text" placeholder="Email" name="email" id="email")
            p: input(type="password" placeholder="Password" name="password" id="password")
            p: input(type="submit" value="Sign Up")
        
